<header>
  <div class="container">
    <nav class="nav" aria-label="Primary">
      <a class="brand" href="Index.html">Noman Ali</a>
      <div class="links">
        <a href="Index.html#about">About</a>
        <a href="artifacts.html">Work</a>
        <a href="research.html">Research</a>
        <a
          href="https://drive.google.com/file/d/1-g-524K9rpg3P82vt-_gGgFG9hEjtOW_/view?usp=sharing"
          class="btn btn-primary"
          style="padding: 10px 20px; border-radius: 6px; font-size: 13px"
          >My Resume</a
        >
      </div>
    </nav>
  </div>
</header>
